* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffe7e7;
  max-width: 1200px; /* Defina o valor que preferir */
  margin: 0 auto; /* Centralize o conteúdo na página */
}

header {
  position: relative;
  width: 100%;
  height: auto; /* Permitir que a altura do cabeçalho seja determinada pelo conteúdo */
  overflow: hidden; /* Para esconder qualquer parte da imagem que exceda a altura do cabeçalho */
}

header img:first-child {
  width: 100%;
  max-height: 450px; /* Defina a altura máxima desejada para a primeira imagem */
  display: block; /* Para evitar espaços indesejados entre as imagens */
}

.logo2 {
  width: 16%;
  position: absolute;
  top: 0;
  left: 5%; /* Ajuste para alinhar a imagem à direita */
  z-index: 1; /* Para garantir que a segunda imagem fique acima da primeira */
}
h1 {
  font-size: 30px;
  color: rgb(17, 16, 16);
  position: relative;
  padding: 20px;
}

p {
  font-size: 15px;
  color: rgb(17, 16, 16);
  position: relative;
  padding: 20px;
}

nav {
  position: absolute;
  top: 20px;
  left: 0px;
  margin-top: 10px; /* Ajuste conforme necessário para espaçamento entre o topo e a imagem */
}

nav ul {
  width: 100%;
  list-style-type: none;
  overflow: visible;
  margin: 0;
  padding: 0;
}

nav a {
  color: rgb(116, 13, 13);
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav li {
  float: center;
}

nav a:hover {
  background-color: rgb(139, 136, 136);
  color: white;
}
img {
  width: 100%;
}
.row {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
section {
  float: left;
  width: 75%;
}
aside {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  background-color: rgb(255, 213, 213);
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
}

.cardContato {
  background-color: rgb(255, 213, 213);
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}
#ide img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: justify;
  text-decoration: none;
}

footer {
  padding: 10px;
  background-color: rgb(255, 213, 213);
  color: rgb(57, 6, 6);
  margin-top: 20px;
}
footer dt {
  font-weight: bold;
}

footer dd {
  margin-left: 0;
}
footer img {
  float: right;
  width: 12%;
  bottom: 0;
  right: 20px;
  padding: 20px;
}
html {
  scroll-behavior: smooth;
}
#videosPostagem iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#exercicios iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#exercicios img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Livros img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Artigo-cientifico img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lista {
  list-style-type: none;
  padding: 0;
}
#lista a {
  text-decoration: none;
  color: black;
}
#lista li {
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
}

#link-topo {
  text-decoration: none;
  color: white;
  background-color: rgb(126, 118, 108);
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  box-shadow: 3px 3px 10px #333;
}

/*Formatando Tabelas*/
table {
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px 10px;
}

th {
  background-color: black;
  color: rgb(176, 53, 53);
  align-items: center;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table tr:nth-child(even) {
  background-color: white;
}

@media screen and (max-width: 768px) {
  section,
  aside,
  body,
  iframe {
    width: 100%;
    padding: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  nav li,
  header h1,
  h1,
  p {
    font-size: 20px;
    float: none;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  header h1,
  h1,
  p {
    font-size: auto;
    float: none;
    text-align: center;
    width: 100%;
  }
}
.navbar {
  color: rgb(70, 3, 3);
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  position: relative;
  left: 15%;
  top: 100%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
  display: inline-block;
}

.nav-list li a {
  color: rgb(220, 16, 16);
  text-decoration: blanchedalmond;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon-line {
  width: 25px;
  height: 3px;
  background-color: #464343;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0; /* Adiciona margem entre os itens */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone do menu seja exibido */
  }

  .nav-list {
    display: none; /* Oculta a lista de navegação */
  }

  .menu-icon {
    display: flex; /* Exibe o ícone do menu */
    align-self: flex-end; /* Alinha o ícone do menu à direita */
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    /* Altera a direção do flex para coluna */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0; /* Adiciona margem entre os itens */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone do menu seja exibido */
  }

  .nav-list {
    display: none; /* Oculta a lista de navegação */
  }

  .menu-icon {
    display: flex; /* Exibe o ícone do menu */
    align-self: flex-end; /* Alinha o ícone do menu à direita */
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0; /* Adiciona margem entre os itens */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone do menu seja exibido */
  }

  .nav-list {
    display: none; /* Oculta a lista de navegação */
  }

  .menu-icon {
    display: flex; /* Exibe o ícone do menu */
    align-self: flex-end; /* Alinha o ícone do menu à direita */
  }
}
img {
  max-width: 100%;
  height: auto;
}

.titulo {
  font-weight: bold;
  color: blue;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr auto; /* Uma coluna para o texto e outra para a imagem */
  gap: 20px; /* Espaçamento entre as colunas */
}

.footer-text {
  grid-column: 1; /* O texto ocupa a primeira coluna */
}

.footer-image {
  grid-column: 3; /* A imagem ocupa a segunda coluna */
  justify-self: end; /* Alinha a imagem no final da coluna */
}

.footer-image img {
  width: 150px; /* Define a largura da imagem */
  height: auto; /* Mantém a proporção original da imagem */
}
.flex-container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}
