* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  background-color: #c7cecd;
}

header {
  text-align: center;
  background: hsl(210, 1%, 67%);
  padding: 30px;
}
header img {
  float: left;
  width: 12%;
  margin-top: 0;
  margin-left: 20px;
}
header h1 {
  font-size: 80px;
  color: white;
}

nav ul {
  list-style-type: none;
  background-color: rgb(113, 131, 136);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}

nav li {
  float: left;
}

nav a:hover {
  background-color: white;
  color: rgb(126, 118, 108);
}
img {
  width: 100%;
}
.row {
  padding: 0 20px;
  display: table;
  width: 100%;
}
section {
  float: left;
  width: 75%;
}
aside {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
}

.cardContato {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}
#ide img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: justify;
  text-decoration: none;
}

footer {
  padding: 20px;
  background-color: rgb(151, 168, 173);
  color: white;
  margin-top: 20px;
}
footer dt {
  font-weight: bold;
}

footer dd {
  margin-left: 0;
}
footer img {
  float: right;
  width: 8%;
  bottom: 0;
  right: 20px;
  padding: 20px;
}
html {
  scroll-behavior: smooth;
}
#videosPostagem iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#exercicios img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lista-videos {
  list-style-type: none;
  padding: 0;
}
#lista-videos a {
  text-decoration: none;
  color: black;
}
#lista-videos li {
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
}

#link-topo {
  text-decoration: none;
  color: white;
  background-color: rgb(126, 118, 108);
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  box-shadow: 3px 3px 10px #333;
}

/*Tablet*/
@media screen and (max-width: 768px) {
  section,
  aside {
    width: 100%;
    padding: 0;
  }
}
/*Celular*/
@media screen and (max-width: 600px) {
  nav li,
  header h1 {
    font-size: 20px;
    float: none;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: auto;
    float: none;
    text-align: center;
    width: 100%;
  }
}
